---
layout: default
---

<div class="posts">
{% for post in paginator.posts %}
    {% if post.category == 'blog' %}
        {% if post.hidden != true %}
        <article class="post">
            <aside class="date"><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date: "%b %d, %Y" }}</time></aside>
            <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>

            <div class="entry">
                {{ post.excerpt }}
            </div>

            <a href="{{ post.url | relative_url }}" class="read-more">Read More</a>
        </article>
        {% endif %}
    {% endif %}
{% endfor %}
</div>
{% include pagination.html %}
