
//
// VARIABLES
//

// Basic Colors
$blue: #4183C4; 
$black: #000;
$darker-gray: #222;
$dark-gray: #333;
$gray: #666;
$light-gray: #eee;
$white: #fff;

$base-font-family: Helvetica, Arial, sans-serif;
$header-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font: 18px/1.4 $base-font-family;

$text-color:       $dark-gray;
$background-color: $white;
$brand-color:      $blue;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
