---
---
@charset "utf-8";


//
// IMPORTS
//

@import "_reset";
@import "_variables";
@import "_404";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $background-color;
  font: $base-font;
  color: $text-color;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  color: $gray-color-darker;
  font-weight: normal;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }

  a {
    color: inherit;
  }
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
}

a {
  color: $brand-color;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $brand-color;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

pre,
code {
  font-family: 'Fira Code', Menlo, Monaco, 'Courier New', monospace;
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

footer {
  padding: 20px 0;
  text-align: center;
  > .icons-link a {
    margin: 0 3px;
  }
}

.date {
  font-style: italic;
  color: $grey-color;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $grey-color-light;
}
::selection {
  color: $black;
  background: $grey-color-light;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  margin-bottom: 50px;
  position: relative;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $grey-color-light;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $gray-color-dark;
  cursor: pointer;
  font-family: $header-font-family;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $grey-color-light;
  font-size: 14px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $header-font-family;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $gray-color-dark;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $brand-color;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 1em;
  border-bottom: 1px solid $grey-color-light;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $grey-color;
    padding: 0.1em 1em;
    color: $grey-color;
    font-size: 22px;
    font-style: italic;
  }

  .date {
    font-size: 80%;
    float: right;
    color: $grey-color;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 11px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $grey-color-light;
}

.pagination {
  color: #999;
  width: 95%;
  margin: 3rem auto 0;
  text-align: center;

  > .page_number {
    display: inline-block;
  }
  > .previous,
  > .next {
    display: inline-block;
    position: relative;
    top: 1px;
    padding: 1px 9px;
  }
  > .hidden {
    visibility: hidden;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_syntax-highlighting";
